<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Apache Mesos"/>
    <meta property="og:site_name" content="Apache Mesos"/>
    <meta property="og:url" content="http://mesos.apache.org/"/>
    <meta property="og:image" content="http://mesos.apache.org/assets/img/mesos_logo_fb_preview.png"/>
    <meta property="og:description"
          content="Apache Mesos abstracts resources away from machines,
                   enabling fault-tolerant and elastic distributed systems
                   to easily be built and run effectively."/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@ApacheMesos"/>
    <meta name="twitter:title" content="Apache Mesos"/>
    <meta name="twitter:image" content="http://mesos.apache.org/assets/img/mesos_logo_fb_preview.png"/>
    <meta name="twitter:description"
          content="Apache Mesos abstracts resources away from machines,
                   enabling fault-tolerant and elastic distributed systems
                   to easily be built and run effectively."/>

    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <link rel="alternate" type="application/atom+xml" title="Apache Mesos Blog" href="/blog/feed.xml">
    <%= stylesheet_link_tag 'main.css' %>

    <% if current_page.data.canonical_url %>
    <link rel="canonical" href="<%= current_page.data.canonical_url %>">
    <% end %>

    <% if content_for?(:javascript) %>
      <%= yield_content :javascript %>
    <% end %>
  </head>
  <body>
    <!-- magical breadcrumbs -->
    <div class="topnav">
      <div class="container">
        <ul class="breadcrumb">
          <li>
            <div class="dropdown">
              <a data-toggle="dropdown" href="#">Apache Software Foundation <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="http://www.apache.org">Apache Homepage</a></li>
                <li><a href="http://www.apache.org/licenses/">License</a></li>
                <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
                <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
                <li><a href="http://www.apache.org/security/">Security</a></li>
              </ul>
            </div>
          </li>

          <li><a href="http://mesos.apache.org">Apache Mesos</a></li>
          <% if current_page.data.breadcrumb %>
          <li><a href="/<%= current_page.data.breadcrumb.chomp.gsub(/\s+/, '-').downcase %>/"><%= current_page.data.breadcrumb %></a></li>
          <% elsif content_for?(:page_title) %>
          <% if yield_content(:page_title) == "Documentation" %>
          <li><a href="/documentation/latest/"><%= yield_content :page_title %></a></li>
          <% else %>
          <li><a href="/<%= yield_content(:page_title).downcase.chomp %>/"><%= yield_content(:page_title).chop %></a></li>
          <% end %>
          <% end %>
        </ul><!-- /.breadcrumb -->
      </div><!-- /.container -->
    </div><!-- /.topnav -->

    <%= yield %>

    <!-- footer -->
    <div class="footer">
      <div class="container">

        <div class="col-md-12 trademark">
          <p>&copy; 2012-2022 <a href="http://apache.org">The Apache Software Foundation</a>.
            Apache Mesos, the Apache feather logo, and the Apache Mesos project logo are trademarks of The Apache Software Foundation.
          <p>
        </div>

      </div><!-- /.container -->
    </div><!-- /.footer -->

    <!-- JS -->
    <%= javascript_include_tag 'jquery-1.11.0.min.js' %>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'anchor-4.1.0.min.js' %>

    <!-- Inject anchors for all headings on the page, see https://www.bryanbraun.com/anchorjs. -->
    <script type="text/javascript">
    anchors.options = {
      placement: 'right',
      ariaLabel: 'Permalink',
    };

    // The default is to not add anchors to h1, but we have pages with multiple h1 headers,
    // and we do want to put anchors on those.
    anchors.add('h1, h2, h3, h4, h5, h6');
    </script>
  </body>
</html>
