<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= current_page.data.title %></title>

	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<%= stylesheet_link_tag 'main.css' %>

	<link rel="alternate" type="application/atom+xml" title="Apache Mesos Blog" href="/blog/feed.xml">
	
	<% if current_page.data.canonical_url %>
	<link rel="canonical" href="<%= current_page.data.canonical_url %>">
	<% end %>

	<!-- Google Analytics Magic -->
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20226872-1']);
		_gaq.push(['_setDomainName', 'apache.org']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mesos-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/assets/img/mesos_logo.png" alt="Apache Mesos logo" style="float:left" /></a>
			</div>

			<div class="navbar-collapse collapse" id="mesos-menu">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/gettingstarted/">Getting Started</a></li>
					<li><a href="/documentation/latest/">Documentation</a></li>
					<li><a href="/downloads/">Downloads</a></li>
					<li><a href="/community/">Community</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
				
			</div>
		</div>
	</nav>

	<div class="container">
		<%= yield %>
	</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<hr>
			</div>
			<div class="row">
				<div class="col-md-4">
					<h4 style="margin:0">Apache Software Foundation</h4><br/>
					<div>
						<a href="http://www.apache.org/licenses/">License</a><br/>
						<a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a><br/>
						<a href="http://www.apache.org/foundation/thanks.html">Thanks</a><br/>
						<a href="http://www.apache.org/security/">Security</a>
					</div>
				</div>
				<div class="visible-xs-block">
					<hr>
				</div>
				<div class="col-md-8 copyright">
					<p>&copy; 2012-2015 <a href="http://apache.org">The Apache Software Foundation</a>. Apache Mesos, the Apache feather logo, and the Apache Mesos project logo are trademarks of The Apache Software Foundation.
					</p>
				</div>
			</div>
		</div>
	</div> 

	<!-- JS -->
	<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %>
	<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js' %>
</body>
</html>
