<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= current_page.data.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="alternate" type="application/atom+xml" title="Apache Mesos Blog" href="/blog/feed.xml">
        <%#= stylesheet_link_tag 'bootstrap.min.css' %>
        <%= stylesheet_link_tag 'main.css' %>

        <% if current_page.data.canonical_url %>
        <link rel="canonical" href="<%= current_page.data.canonical_url %>">
        <% end %>

      <!-- Google Analytics Magic -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-20226872-1']);
        _gaq.push(['_setDomainName', 'apache.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </head>
    <body>
      <!-- magical breadcrumbs -->
      <div class="topnav">
      <ul class="breadcrumb">
        <li>
          <div class="dropdown">
            <a data-toggle="dropdown" href="#">Apache Software Foundation <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a href="http://www.apache.org">Apache Homepage</a></li>
              <li><a href="http://www.apache.org/licenses/">License</a></li>
              <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
              <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
              <li><a href="http://www.apache.org/security/">Security</a></li>
            </ul>
          </div>
        </li>
        <li><a href="http://mesos.apache.org">Apache Mesos</a></li>
        <% if current_page.data.breadcrumb %>
        <li><a href="/<%= current_page.data.breadcrumb.delete(' ').downcase %>/"><%= current_page.data.breadcrumb %></a></li>
        <% elsif content_for?(:page_title) %>
        <% if yield_content(:page_title) == "Documentation" %>
          <li><a href="/documentation/latest/"><%= yield_content :page_title %></a></li>
        <% else %>
          <li><a href="/<%= yield_content(:page_title).downcase %>/"><%= yield_content :page_title %></a></li>
        <% end %>
        <% end %>
      </ul><!-- /breadcrumb -->
      </div>

      <!-- navbar excitement -->
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mesos-menu" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/assets/img/mesos_logo.png" alt="Apache Mesos logo" style="float:left" /></a>
          </div>

          <div class="navbar-collapse collapse" id="mesos-menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/gettingstarted/">Getting Started</a></li>
              <li><a href="/documentation/latest/">Documentation</a></li>
              <li><a href="/downloads/">Downloads</a></li>
              <li><a href="/community/">Community</a></li>
            </ul>
          </div>

        </div>
      </div><!-- /.navbar -->

      <div class="container">

      <%= yield %>

        <hr>

        <!-- footer -->
        <div class="footer">
          <p>&copy; 2012-2016 <a href="http://apache.org">The Apache Software Foundation</a>.
          Apache Mesos, the Apache feather logo, and the Apache Mesos project logo are trademarks of The Apache Software Foundation.<p>
        </div><!-- /footer -->

      </div> <!-- /container -->

      <!-- JS -->
      <%= javascript_include_tag '//code.jquery.com/jquery-1.11.0.min.js' %>
      <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js' %>
    </body>
</html>
