<% content_for :page_title do %>
Blog
<% end %>
<% wrap_layout :layout do %>
<div class="row">

  <div class="col-md-3">
    <div class="meta">
      <span class="author">
        <% if current_page.data.post_author.gravatar %>
          <img src="http://www.gravatar.com/avatar/<%= current_page.data.post_author.gravatar %>?s=80"
               class="author_gravatar">
        <% end %>
        <span class="author_contact">
          <p><strong><%= current_page.data.post_author.display_name %></strong></p>
          <% if current_page.data.post_author.twitter %>
            <p><a href="http://twitter.com/<%= current_page.data.post_author.twitter %>">@<%= current_page.data.post_author.twitter %></a></p>
          <% end %>
        </span>
      </span>
      <p><em>Posted <%= current_article.date.strftime("%B %e, %Y")  %></em></p>
    </div>
  </div>

  <div class="post col-md-9">
    <h1><%= current_page.data.title %></h1>

    <%= yield %>
  </div>
</div>
<% end %>
