---
title: Apache Mesos | Downloads
breadcrumb: Downloads
---

<div class="row-fluid">
  <div class="col-md-4">
    <h4>Previous Releases</h4>

    <ul>
      <% data.releases.versions.each do |item| %>
      <li>
        <a href="http://archive.apache.org/dist/mesos/<%= item.version %>/">
          <%= item.version %>
        </a>
        (<a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311242&version=<%= item.jira_version %>">
          Release Notes
        </a>)
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-8">
    <h1>Download Mesos</h1>
      <p>Download the most recent stable release: (<a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12311242&version=<%= data.releases.latest_stable.jira_version %>">
          Release Notes
        </a>)
      <ul>
        <li>
          Source
	  <a href="http://www.apache.org/dyn/closer.cgi/mesos/<%= data.releases.latest_stable.version %>/mesos-<%= data.releases.latest_stable.version %>.tar.gz">
          <%= data.releases.latest_stable.version %>
          </a>
        </li>
        <li>
          RPM
          <a href="https://bintray.com/apache/mesos/mesos/<%= data.releases.latest_stable.version %>">
            <%= data.releases.latest_stable.version %>
          </a>
        </li>
      </ul>
      </p>

      <p>Once you have downloaded Mesos, follow the
        <a href="/getting-started/">getting started instructions</a>,
        and take a look at the rest of the
        <a href="/documentation/">Mesos documentation</a>.
      </p>

      <h4>Getting the code via source control</h4>
      <p>The codebase can also be downloaded from the Apache git repository at:
        <code>https://gitbox.apache.org/repos/asf/mesos.git</code>.
        <br />
        This repository is also mirrored on
        <a href="https://github.com/apache/mesos">GitHub</a>.
      </p>

      <h4>Getting older Mesos binaries</h4>
      Some previous versions of Mesos can be downloaded from BinTray: <a href="https://bintray.com/apache/mesos">https://bintray.com/apache/mesos</a>.

  </div>
</div>
